<div fxLayout="row wrap">
  <section fxFlex="100" fxLayout="row" class="mt-1">
    <h5 class="m-0">Companies ({{dataSource.count}})</h5>
    <span fxFlex></span>
    <button mat-icon-button matTooltip="Add Company" (click)="addNew()"> <mat-icon>add</mat-icon> </button>
  </section>
  <section fxFlex="100">
    <mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading$ | async as loading"></mat-progress-bar>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let company">{{company.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let company">{{company.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let company">{{company.phone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let company" fxLayout="row wrap">
          <span fxFlex="100">{{company.address.street}}</span>
          <span fxFlex="100">{{company.address.city}}</span>
          <span fxFlex="100">{{company.address.state}} {{company.address.zip}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="subscription">
        <mat-header-cell *matHeaderCellDef>Subscription</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let company">
          <div class="subscription sub-{{company.subscriptionType}}">{{getSubscription(company.subscriptionType)}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="license">
        <mat-header-cell *matHeaderCellDef>State Lincense</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let company" fxLayout="row wrap">
          <div class="lic-type {{'type-' + i}}" *ngFor="let lic of company.stateLicense; let i = index"> {{lic}} </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="users">
        <mat-header-cell *matHeaderCellDef>Users</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let company">{{company.userCount}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let company" fxLayout="row" fxLayoutGap="5px">
          <button mat-icon-button class="mat-btn-primary"> <mat-icon>edit</mat-icon> </button>
          <button mat-icon-button class="mat-btn-danger"> <mat-icon>delete</mat-icon> </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [length]="pageConfig"
                   [pageSize]="pageConfig.limit"
                   [pageSizeOptions]="pageSizes">
    </mat-paginator>
  </section>

</div>
