$lic-0: #4a9fa7;
$lic-1: #126e0e;
$lic-2: #da150f;
$lic-3: #8774bd;
$lic-4: #935c9c;

.spinner-container {
  position: relative;
  padding: 2px;
  height: 30px;
}

.lic-type {
  padding: 0 0.3rem;
  margin-right: 2px;
  border-radius: 0.3rem;
  background-color: #cbcbcb;
  color: #fff;
  font-size: 0.75rem;

  &.type-0 {
    background-color: $lic-0;
  }

  &.type-1 {
    background-color: $lic-1;
  }

  &.type-2 {
    background-color: $lic-2;
  }

  &.type-3 {
    background-color: $lic-3;
  }

  &.type-4 {
    background-color: $lic-4;
  }
}

.subscription {
  padding: 0 0.4rem;
  border-radius: 0.3rem;
  background-color: #cbcbcb;
  color: #fff;
  font-size: 0.85rem;

  &.sub-1 {
    background-color: #0ab9ff;
  }

  &.sub-2 {
    background-color: #bc50e6;
  }
}
