.form-field{
  display: block
}

mat-dialog-content {
  padding: 0 10px;
}

.checkbox-group-list {
  padding: 0;
  margin: 0;
  text-align: left;

  li {
    list-style: none;
    padding: 0.3rem 0.5rem;
    width: auto;
    display: inline-block;

    .check-link {
      min-width: 4rem;
      padding: 0.2rem 0.4rem 0;
      background-color: #777;
      border: 1px solid #888;
      border-radius: 1rem;
      color: #fff;
      text-align: left;
      font-size: 0.8rem;

      mat-icon {
        font-size: 1.1rem;
        width: 18px;
        height: 18px;
      }

      &.checked {
        background-color: #18a012;
        border-color: #18a012;
      }
    }
  }
}
