<div fxLayout="row wrap">
  <section fxFlex="100" fxLayout="row" class="mt-1">
    <h5 class="m-0">Company Users ({{dataSource.count}})</h5>
    <span fxFlex></span>
    <button mat-icon-button matTooltip="Add User" (click)="addNew()">
      <mat-icon>add</mat-icon>
    </button>
  </section>
  <section fxFlex="100">
    <mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading$ | async as loading"></mat-progress-bar>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let user">{{user.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let user">{{user.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let user">{{user.phone}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let user" fxLayout="row wrap">
          <span fxFlex="100">{{user.address.street}}</span>
          <span fxFlex="100">{{user.address.city}}</span>
          <span fxFlex="100">{{user.address.state}} {{user.address.zip}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let user">
          <div class="user-role {{user.role | lowercase}}">{{user.role}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let user">
          <img src="assets/images/icons/active.png" width="30" *ngIf="user.isActive" alt="">
          <img src="assets/images/icons/inactive.png" width="30" *ngIf="!user.isActive" alt="">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="locked">
        <mat-header-cell *matHeaderCellDef>Locked</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let user">
          <img src="assets/images/icons/locked.png" width="30" *ngIf="user.isLocked" alt="">
          <img src="assets/images/icons/unlocked.png" width="30" *ngIf="!user.isLocked" alt="">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let user" fxLayout="row" fxLayoutGap="5px">
          <button mat-icon-button class="mat-btn-primary" (click)="update(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="mat-btn-danger" (click)="remove(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </section>

</div>
