<div fxLayout="row wrap">
  <section fxFlex="100" fxLayout="row" class="mt-1">
    <h5 class="m-0">Plants ({{dataSource.count || 0}})</h5>
    <div fxFlex fxLayoutAlign="end start">
      <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>more_vertical</mat-icon> </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addNew()"><mat-icon>add</mat-icon> Add New</button>
        <button mat-menu-item><mat-icon>upload</mat-icon> Upload Multiple</button>
      </mat-menu>
    </div>
  </section>

  <section fxFlex="100">
    <mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading$ | async as loading"></mat-progress-bar>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let plant">{{plant.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="metric">
        <mat-header-cell *matHeaderCellDef>Metric Id</mat-header-cell>
        <mat-cell *matCellDef="let plant">{{plant.metricId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="strain">
        <mat-header-cell *matHeaderCellDef>Strain</mat-header-cell>
        <mat-cell *matCellDef="let plant">{{plant.strain}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let plant">{{plant.type === 1? 'Seed': 'Clone'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="planted">
        <mat-header-cell *matHeaderCellDef>Planted On</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let plant">{{plant.plantedOn | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mother">
        <mat-header-cell *matHeaderCellDef>Mother</mat-header-cell>
        <mat-cell *matCellDef="let plant"> <span *ngIf="plant.mother">{{plant.mother}}</span> <span *ngIf="!plant.mother" class="noval">None</span> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phase">
        <mat-header-cell *matHeaderCellDef>Current Phase</mat-header-cell>
        <mat-cell *matCellDef="let plant"> <div class="plant-phase {{plant.currentPhase | lowercase}}">{{plant.currentPhase}}</div> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="histories">
        <mat-header-cell *matHeaderCellDef>Phase Histories</mat-header-cell>
        <mat-cell *matCellDef="let plant"><mat-icon>history</mat-icon> <span class="font-lg"> {{plant.phaseHistory.length}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let plant" fxLayout="row" fxLayoutGap="5px">
          <button mat-icon-button color="primary" (click)="update(plant)"> <mat-icon>edit</mat-icon> </button>
          <button mat-icon-button color="accent" (click)="preview(plant)"> <mat-icon>saved_search</mat-icon> </button>
          <button mat-icon-button color="warn" (click)="remove(plant)"> <mat-icon>delete</mat-icon> </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    </mat-table>
    <mat-paginator [length]="dataSource.count || 0"
                   [pageSize]="pageConfig.limit"
                   [pageSizeOptions]="pageSizes"
                   (page)="pageChange($event)">
    </mat-paginator>
  </section>

</div>
