<div class="page-wrapper" fxLayout="row wrap">

  <section fxLayout="row wrap" class="page-header" fxFlex="100">
    <h4 class="m-0" fxFlex> Dashboard </h4>
    <span fxFlex></span>
  </section>

  <section fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100" class="page-content pt-1">
    <div fxFlex="33" class="widget-card" fxLayout="row">
      <div class="inner" fxFlex="100" fxLayoutAlign="start start" fxLayout="row">
        <div class="img" fxFlex="60">
          <img src="assets/images/icons/plant2.png" alt="">
        </div>
        <div class="stats" fxFlex="40">
          <div class="value"> 200 </div>
          <div class="label" >Plants</div>
        </div>
      </div>
    </div>

    <div fxFlex="33" class="widget-card" fxLayout="row">
      <div class="inner" fxFlex="100" fxLayoutAlign="start start" fxLayout="row">
        <div class="img" fxFlex="60">
          <img src="assets/images/icons/tests.png" alt="">
        </div>
        <div class="stats" fxFlex="40">
          <div class="value">20</div>
          <div class="label" >Tests</div>
        </div>
      </div>
    </div>

    <div fxFlex="33" class="widget-card" fxLayout="row">
      <div class="inner" fxFlex="100" fxLayoutAlign="start start" fxLayout="row">
        <div class="img" fxFlex="60">
          <img src="assets/images/icons/metrics.png" alt="">
        </div>
        <div class="stats" fxFlex="40">
          <div class="value">10</div>
          <div class="label">Metrics</div>
        </div>
      </div>
    </div>

  </section>

</div>
